ul {
  list-style: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 4%;

}
/* padding: 3% 5%;
  display: flex;
  margin: 0 auto;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 6rem; */